<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kirti Rajput - Portfolio</title>
        <!-- Fav Icon -->
        <link rel="shortcut icon" href="/static/images/fav - Copy.png" type="image/x-icon">
        <meta name="title" content="Home - Kirti Portfolio" />
        <meta name="description" content="Welcome to Kirti's Portfolio. Full-Stack Web Developer. Web Desinging, Python Developer" />
        <meta name="keywords" content="kirti portfolio, kirti rajput portfolio, kirti, rajput portfolio, portfolio, full stack developer, personal portfolio lifecodes, portfolio design, portfolio website, personal portfolio, portfolio samples, django portfolio, best design portfolio" />
        <meta name="copyright" content="Copyright © 2023 Kirti-Portfolio All Rights Reserved." />
        <!-- Bootstrap CD Link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <!-- Font Awesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body oncontextmenu="return false">
    <!--<body>-->
        <!-- Navbar Starts From Here -->
        <nav class="navbar navbar-expand-md px-md-5 sticky-top shadow bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/images/icons8-money-bag-krona-64.png" width="40px"> Port<span class="text-danger">folio</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active home" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#extracurricular">Extracurricular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- Navbar Ends Here -->

        <!-- First Sections Starts -->
        <section class="first">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 py-3">
                        <div>
                            <div>
                                <h2 class="name">Hi there, <br> I'm Kirti <span class="red"> Rajput</span></h2>
                                <p class="intro">I Am Into <span class="typing-text"></span></p>
                                <a href="#about" class="badge rounded-pill">
                                    About Me <i class="fa-solid fa-arrow-down"></i>
                                </a>
                            </div>
                            <!-- Social Links -->
                            <div class="social-links pt-4">
                                <a href="https://www.linkedin.com/in/kirti-rajput-a81b10220/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://github.com/KIRTI639" target="_blank"><i class="fa-brands fa-github"></i></a>
                                <a href="https://www.hackerrank.com/Kirtirajput63969?hr_r=1" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
                                <a href="https://twitter.com/KirtiRa45208538" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                <!-- <a href=""><i class="fa-brands fa-telegram"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 py-3 d-flex justify-content-center">
                        <div class="myImg w-75">
                            <img src="/static/images/Animated Image-4.jpg" width="100%" draggable="false">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- First Sections Ends -->

        <!-- About Section Starts -->
        <section class="my-4 about" id="about">
            <div class="container">
                <div class="text-center my-5">
                    <h2 class="fw-bold"><i class="fa-solid fa-user-astronaut"></i> About <span class="red">Me</span></h2>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-5 intro-img">
                        <img src="/static/images/Resume Photo.png" width="80%">
                    </div>
                    <div class="col-md-6 mb-5">
                        <div>
                            <h1 class="fw-bold">I'm Kirti Rajput</h1>
                            <small class="fw-bold">Full Stack Developer</small>
                        </div>
                        <div class="my-4">
                            <p class="myIntro">
                                I am a Full-Stack developer based in Uttar Pradesh, India. I have done my graduation in <span class="red fw-bold">Computer Scince and Engineering</span> from KSVCEM, Bijnor which is affiliated to Dr. APJ Abdul Kalam Technical University Lucknow, Uttar Pradesh. I am very passionate about improving my coding skills & developing applications & websites. I build WebApps and Websites using Python, HTML, CSS, Django, Javascript. I am working for myself to improve my skills. Love to build Full-Stack web apps.
                            </p>
                            <p><span class="blue fw-bold">Email</span> : kirtirajput63969@gmail.com</p>
                            <p><span class="blue fw-bold">Place</span> : Uttar Pradesh, India</p>

                            <a href="https://drive.google.com/file/d/1kKUM2ao2zJxsR5rgB__-hAU1kJRjDkSG/view?usp=drivesdk" target="_blank" class="badge rounded-pill">
                                Resume <i class="fa-solid fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section Ends -->

        <!-- Education Section Starts -->
        <section class="education" id="education">
            <div class="container">
                <div class="text-center">
                    <h2 class="fw-bold"><i class="fa-solid fa-graduation-cap"></i> My <span class="red">Education</span></h2>
                    <small>Education is not the learning of facts, but the training of the mind to think.</small>
                </div>

                <div class="row my-3 bg-light rounded-2 g-0 college">
                    <div class="col-md-4 college-img">
                        <img src="/static/images/Vira College.webp" width="100%">
                    </div>
                    <div class="col-md-8 p-3 mt-3 ps-md-5">
                        <h3 class="fw-bold">B.Tech in Computer Science & Engineering</h3>
                        <p>Kunwar Satya Vira COllege of Engineering and Management, Bijnor</p>
                        <h5 class="fw-bold text-success">90.1% | 2019-2023 | Completed</h5>
                    </div>
                </div>

                <div class="row my-3 bg-light rounded-2 g-0 college">
                    <div class="col-md-4 college-img">
                        <img src="/static/images/Modern Era Bijnor.jpg" width="100%">
                    </div>
                    <div class="col-md-8 p-3 mt-3 ps-md-5">
                        <h3 class="fw-bold">Senior Secondary School in PCM</h3>
                        <p>Modern Era Public School, Bijnor</p>
                        <h5 class="fw-bold text-success">89.8% | 2017-2019 | Completed</h5>
                    </div>
                </div>

                <div class="row my-3 bg-light rounded-2 g-0 college">
                    <div class="col-md-4 college-img">
                        <img src="/static/images/Modern Era Bijnor.jpg" width="100%">
                    </div>
                    <div class="col-md-8 mt-3 p-3 ps-md-5">
                        <h3 class="fw-bold">High School in Science</h3>
                        <p>Modern Era Public School, Mandawar</p>
                        <h5 class="fw-bold text-success">10 CGPA | 2015-2017 | Completed</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- Education Section Ends -->

        <!-- Skills Section Starts -->
        <section class="my-4 skills" id="skills">
            <div class="container">
                <div class="skill-head text-center my-5">
                    <h2 class="fw-bold"><i class="fa-solid fa-code"></i> My <span class="red">Skills</span></h2>
                </div>

                <div class="row my-5">
                    <div class="col-md-6 pe-md-5 skills-text">
                        <h4>My creative skills & experience</h4>
                        <p>During my time as a student I have been able to develop the way I learn and interact with others to a degree that has also helped me to mature into a better person. I have come to believe that this maturity will help me to develop into a better thinker as well, one that has the patience to listen and take consideration of what others have to say. </p>
                    </div>
                    <div class="col-md-6">
                        <div class="progress fw-bold mb-3" style="height: 30px;">
                            <span class="label">85%</span>
                            <div class="progress-bar text-start ps-3 bg-danger html" style="width: 85%; height: 30px;">HTML</div>
                        </div>
                        <div class="progress fw-bold mb-3" style="height: 30px;">
                            <span class="label">70%</span>
                            <div class="progress-bar text-start ps-3 bg-danger css" style="width: 70%; height: 30px;">CSS</div>
                        </div>
                        <div class="progress fw-bold mb-3" style="height: 30px;">
                            <span class="label">65%</span>
                            <div class="progress-bar text-start ps-3 bg-danger javascript" style="width: 65%; height: 30px;">Javascript</div>
                        </div>
                        <div class="progress fw-bold mb-3" style="height: 30px;">
                            <span class="label">80%</span>
                            <div class="progress-bar text-start ps-3 bg-danger python" style="width: 80%; height: 30px;">Python</div>
                        </div>
                        <div class="progress fw-bold mb-3" style="height: 30px;">
                            <span class="label">60%</span>
                            <div class="progress-bar text-start ps-3 bg-danger django" style="width: 60%; height: 30px;">Django</div>
                        </div>
                        <div class="progress fw-bold mb-3" style="height: 30px;">
                            <span class="label">70%</span>
                            <div class="progress-bar text-start ps-3 bg-danger aws" style="width: 70%; height: 30px;">AWS</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skills Section Ends -->

        <!-- Extracurricular section -->
        <div id="extracurricular" class="py-2 extracurricular">
            <div class="container my-3"  >
                <h2 class="text-center fw-bold mb-3"> <i class="fa-solid fa-burst"></i> Extracurricular <span class="red">Activities</span></h2>
                <div class="row  border border-danger rounded-2 mb-3  ">
                    <div class="col-2  d-flex justify-content-center pt-2"><img src="/static/images/icons8-certificate-100.png" alt=""></div>
                    <div class="col-10  ">
                        <h4 class="mt-3 ">Certified in Python from IIT, Kanpur </h4>
                        <small> Nov 2021 - Feb 2022</small>
                    </div>
                </div>

                <div class="row border border-success rounded-2 mb-3 ">
                    <div class="col-2  d-flex justify-content-center pt-2"><img src="/static/images/icons8-certificate-100.png" alt=""></div>
                    <div class="col-10  ">
                        <h4 class="mt-3 ">Certified in HTML5 from University of Michigan </h4>
                        <small>Feb 2022 - Mar 2022</small>
                    </div>
                </div>

                <div class="row border border-info rounded-2 mb-3">
                    <div class="col-2  d-flex justify-content-center pt-2"><img src="/static/images/icons8-certificate-100.png" alt=""></div>
                    <div class="col-10  ">
                        <h4 class="mt-3 ">Certified in Github from LinkedIn </h4>
                        <small>Dec 2023 - Jan 2023</small>
                    </div>
                </div>

                <div class="row  border border-warning  rounded-2 mb-3">
                    <div class="col-2  d-flex justify-content-center pt-2"><img src="/static/images/icons8-certificate-100.png" alt=""></div>
                    <div class="col-10  ">
                        <h4 class="mt-3 ">Certified in TCS iON Career Edge - Young Professional from TCS </h4>
                        <small>Mar 2022 - April 2022</small>
                    </div>
                </div>

                <div class="row  border border-primary  rounded-2 mb-3 ">
                    <div class="col-2  d-flex justify-content-center pt-2"><img src="/static/images/icons8-certificate-100.png" alt=""></div>
                    <div class="col-10  ">
                        <h4 class="mt-3 ">Google Cloud IAM and Networking for AWS Professionals from Coursera </h4>
                        <small> Nov 2021 - Feb 2022</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- Ectracurricular Section Ends-->


        <!-- Project Section Starts -->
        <section class="projects py-5" id="projects">
            <div class="container">
                <div class="project-head text-center mb-5">
                    <h2 class="fw-bold"><i class="fa-solid fa-diagram-project"></i> Projects <span class="red">Made</span></h2>
                </div>

                <div class="row ">
                    <div class="col-md-4 my-3 ">
                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Zf_rBKSo-VsKRG7VXviS5QLsxeMXq8mVuQ&usqp=CAU" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title fw-bold">My Mat Space (Web App)</h5>
                              <p class="card-text">Provides the solution and suggests the <span class="red fw-bold">Yogas</span> to them who have any problem such as Digestion, Depression, etc.</p>
                              <a href="https://github.com/KIRTI639/Django_Project-My-Mat-Space" class="btn btn-outline-danger" target="_blank">Source Code <i class="fa-solid fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 ">
                        <div class="card ">
                            <img src="https://myciti.in/wp-content/uploads/2021/02/staff-attendance-01.png" class="card-img-top" >
                            <div class="card-body">
                              <h5 class="card-title fw-bold">Attendance Management</h5>
                              <p class="card-text">This is a GUI based application. In which Faculties can store the student's attendance on daily basis.</p>
                              <a href="https://github.com/KIRTI639/Project_Attendance" target="_blank" class="btn btn-outline-danger">Source Code <i class="fa-solid fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3 ">
                        <div class="card">
                            <img src="https://copyassignment.com/wp-content/uploads/2022/06/Guess-the-Number-Python.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title fw-bold">Guess the Number</h5>
                              <p class="card-text">It is a console based gaming app. A user can play the game, can check last record, and high score.</p>
                              <a href="https://github.com/KIRTI639/Guess" target="_blank" class="btn btn-outline-danger">Source Code <i class="fa-solid fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project Section Ends -->

        <!-- Contact Section Starts -->
        <section class="contact my-5" id="contact">
            <div class="container">
                <div class="contact-head text-center">
                    <h2 class="fw-bold"><i class="fa-solid fa-address-book"></i> Contact <span class="red">Me</span></h2>
                </div>

                <div class="row">
                    <div class="col-md-6 my-3">
                        <img src="https://officialsaurabhphotography.com/img/contact.gif" width="100%">
                    </div>
                    <div class="col-md-6 my-3">
                        <form class="py-3" method="post" action="/">
                            {% csrf_token %}

                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}

                            <div class="input-group mb-3">
                                <div class="input-grout-prepend">
                                    <span class="input-group-text h-100 bg-secondary bg-opacity-25">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control bg-secondary bg-opacity-25" placeholder="Name" name="name" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-grout-prepend">
                                    <span class="input-group-text h-100 bg-secondary bg-opacity-25">
                                        <i class="fa-solid fa-envelope-circle-check"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control bg-secondary bg-opacity-25" placeholder="Email" name="email" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-grout-prepend">
                                    <span class="input-group-text h-100 bg-secondary bg-opacity-25">
                                        <i class="fa-solid fa-phone"></i>
                                    </span>
                                </div>
                                <input type="tel" class="form-control bg-secondary bg-opacity-25" placeholder="Phone" name="phone" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-grout-prepend">
                                    <span class="input-group-text h-100 bg-secondary bg-opacity-25">
                                        <i class="fa-solid fa-user align-self-start"></i>
                                    </span>
                                </div>
                                <textarea cols="30" rows="5" class="form-control bg-secondary bg-opacity-25" placeholder="Message" name="message" required></textarea>
                            </div>
                            <!-- Hidden Data -->
                            <div class="d-none">
                                <label for="">Time : </label>
                                <input type="text" class="form-control" id="time" name="time">
                                <label for="">IP Address : </label>
                                <input type="text" class="form-control" id="ip" name="ip">
                            </div>
                            <input type="submit" value="Submit" class="form-control btn btn-outline-success">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section Ends -->

        <!-- Footer Section Starts -->
        <footer class="text-center text-light fw-bold bg-dark p-3">
            <p class="pt-3">Made By <span class="red">Kirti Rajput</span></p>
        </footer>
        <!-- Footer Section Ends -->

        <!-- Bootstrap Bundle JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <!-- typed.js cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.6/platform.min.js" integrity="sha512-eYPrm8TgYWg3aa6tvSRZjN4v0Z9Qx69q3RhfSj+Mf89QqwOMqmwSlsVqfp4N8NVAcZe/YeUhh9x/nM2CAOp6cA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="/static/js/script.js"></script>

    </body>
</html>